@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI.ttf');
  }

* {
    color: white;
    font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji",  Arial, sans-serif;
}
.alerts-wrapper {
    display: none;
    float: right;
}

.content {
    padding: 3% 2% 0% 3%;
}

.fas {
    padding-right:8px;
}

#code {
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    font-weight: 700;
    padding:1px;
    margin-top: -3%;
    background: rgba(14, 13, 13, 0.5);
    float: left;
    border-radius: 5px;
}

#alert-name {
    letter-spacing: 0.2px;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left:1%;
    margin-top: -3%;
    float: left;
}

#alert-info {
    font-size: 0.7rem;
    font-weight: 550;
    margin-top: 15px;
}

.alerts {
    width: 375px;
    height: 75px;
    color: white;
}

.alerts.ems {
    box-shadow: -5px 0px 0px 0px red inset;
    background: rgba(160, 17, 48, 0.75);
}

.alerts.police {
    box-shadow: -5px 0px 0px 0px rgb(0, 183, 255) inset;
    background: rgba(17, 84, 160, 0.75);
}

.alerts.robbery {
    box-shadow: -5px 0px 0px 0px rgb(19, 21, 22) inset;
    background: rgba(19, 21, 22, 0.75);
}

.alerts.admin {
    box-shadow: -3px 0px 0px 0px red inset;
}

.alerts.warning {
    box-shadow: -3px 0px 0px 0px red inset;
}

.alerts.info {
    box-shadow: -3px 0px 0px 0px red inset;
}

.alerts.error {
    box-shadow: -3px 0px 0px 0px red inset;
}

.alerts.thefuckisthiscalledfor {
    box-shadow: -3px 0px 0px 0px red inset;
}

.template, .notification {
    display: inline;
}

.notif-container {
    width: 20%; /* was 15% */
    position: absolute;
    right: 1%; /* was 15% */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    width: 375px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font: caption;
    font-size: 12px;
    font-weight: bold;
}

.move {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.error {
    box-shadow: -5px 0px 0px 0px red inset;
    background: rgba(160, 17, 48, 0.75);
    color: #fff;
}

.ems {
    box-shadow: -5px 0px 0px 0px red inset;
    background: rgba(163, 38, 65, 0.5);
    color: #fff;
}

.police {
    box-shadow: -5px 0px 0px 0px rgb(68, 140, 168) inset;
    background: rgba(15, 58, 107, 0.5);
}

.robbery {
    box-shadow: -5px 0px 0px 0px rgb(19, 21, 22) inset;
    background-color: rgba(19, 21, 22, 0.5);
}

.officer-down {
    animation: myfirst 5s linear 0s infinite alternate;
}

@keyframes myfirst {
    0%   {background-color:rgba(163, 38, 65, 0.5); left:0px; top:0px;}
    15%  {background-color: rgb(68, 140, 168, 0.5); left:200px; top:200px;}
    30% {background-color:rgba(163, 38, 65, 0.5); left:0px; top:0px;}
    45%  {background-color: rgb(68, 140, 168, 0.5); left:200px; top:200px;}
    60% {background-color:rgba(163, 38, 65, 0.5); left:0px; top:0px;}
    75%  {background-color:rgb(68, 140, 168, 0.5); left:200px; top:200px;}
    90% {background-color:rgba(163, 38, 65, 0.5); left:0px; top:0px;}
    100%  {background-color:rgb(68, 140, 168, 0.5); left:200px; top:200px;}
}