@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  background: transparent !important;
  opacity: 1.0;
}
span{
  color: rgb(255, 0, 0) !important;
}
h1{
  text-shadow: 2px 2px 6px #000000;
  margin-top: 0.4% !important;
  margin-bottom: 0 !important;
  font-size: 22px;
  font-family: 'Arial', sans-serif;
  color: white !important;
}
#timedisplay {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  align-items: center;
  margin-top: 20px;
}

#logoer .logo {
  display: none;
}

#timedisplay .logo {
  width: 185px;
  height: 30px;
}

#horario h3{
  text-shadow: 2px 2px 4px #000000;
  -webkit-font-smoothing: antialiased;
  font-size: 0px; /* Change font-size to 14 if you want time and date to be written along with the watermarn. And change the order of players and horario in the html */
  font-weight: 500 !important;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 8px !important;
}
#players h3 {
  text-shadow: 2px 2px 4px #000000;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 500 !important;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 8px !important;
}
#logoer span {
  color: #0553fd !important;
  font-weight: 700 !important;
}

#logoer h1 {
  text-shadow: 2px 2px 4px #000000;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
  color: white !important;
  text-align: center;
}

#logoer img {
  position: relative;
  max-width: 150px;
  top: 0;
  left: 0;
}

#logoer .active {
  background-color: #717171;
}

#logoer .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}
.oswald-1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}