@font-face {
    font-family: 'gta-ui';
    src: url('./fonts/gta-ui.ttf');
}

#heal {
    position: absolute;
    left: 1.40%;
    bottom: 1.8%;
    width: 13.95%;
    height: 1.30%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#armor {
    position: absolute;
    left: 8.53%;
    bottom: 1.8%;
    width: 6.85%;
    height: 1.30%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}


#heal2 {
    position: absolute;
    left: 1.40%;
    bottom: 1.8%;
    width: 7.0%;
    height: 1.30%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#hunger {
    position: absolute;
    left: 1.39%;
    bottom: 0.35%;
    width: 3.41%;
    height: 1.10%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#thirst {
    position: absolute;
    left: 4.96%;
    bottom: 0.35%;
    width: 3.41%;
    height: 1.10%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#stamina {
    position: absolute;
    left: 8.53%;
    bottom: 0.35%;
    width: 3.41%;
    height: 1.10%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#voice {
    position: absolute;
    left: 12.10%;
    bottom: 0.35%;
    width: 3.28%;
    height: 1.10%;
    padding: 0;
    border: 3px solid rgb(63, 63, 63);
    float:left;
    background:#545454a6;
}

#boxHeal, #boxHeal2, #boxArmor, #boxVoice, #boxStamina, #boxHunger, #boxThirst {
    background: #59ac5e;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

#boxHunger {
    background: #c47d22; 
}

#boxArmor {
    background: #5a97f3;
}

#boxThirst {
    background: #5a97f3;
}

#boxVoice {
    background: #A9A9A9;
}

#boxStamina {
    background:  #c0b444;
}

.healthnumber, .armornumber, .healthnumber2 {
    font-family: "gta-ui", Verdana, Tahoma;
    position: absolute;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.healthnumber {
    left: 8.1%;
    font-size: 20px;
    bottom: 1.75%;
    color: rgb(255, 255, 255);
}

.healthnumber2 {
    left: 4.8%;
    font-size: 20px;
    bottom: 1.75%;
    color: rgb(255, 255, 255);
}

.armornumber {
    left: 11.7%;
    font-size: 20px;
    bottom: 1.75%;
    color: rgb(255, 255, 255);
}

body {
    overflow: hidden;
    height:1080px;
    width:100%;
}
