body {
    margin: 0;
    padding: 0;
    color: #EEE; /* Lighter text for contrast on dark */
    font-family: 'Work Sans', sans-serif;
}

.bars-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: auto;
    width: 180px; /* Even sleeker */
    top: 5%;
    right: 1%;
    padding: 5px;
}

.bar {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.8); /* Darker, subtle background */
    padding: 6px 8px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.icon {
    width: 18px; /* Minimal icon size */
    height: 18px;
    margin-right: 8px;
}

.info, h3 {
    font-size: 0.9rem; /* Conservative size for modern look */
    font-weight: 300; /* Lighter font weight */
    margin: 0;
}

h3 strong {
    font-weight: 500; /* Only important info bolded */
}
